.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.image-container {
  background-color: #D3D3D3;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 150px;
  position: relative;
}

.close-image-block {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
}

.uploaded-image {
  display: block;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.image-caption-container {
  width: 100%;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.image-caption {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.image-caption:hover{
  overflow: visible;
  white-space: normal;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
