.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-container {
  display: flex;
  width: 100%;
}

.main-right{
  flex: 1 0 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main-left{
  flex: 1 0 50%;
  padding: 10px;
}

.image-container {
  background-color: #D3D3D3;
  padding: 20px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 150px;
  position: relative;
}

.close-image-button {
  display: block;
  position: absolute;
  border: none;
  background: none;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
}

.close-image-button:hover {
  border-radius: 50%;
  background-color: white;
}

.close-image-button:focus {
  outline: none;
}

.uploaded-image {
  display: block;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.image-caption-container {
  width: 100%;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.image-caption {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.image-caption:hover{
  overflow: visible;
  white-space: normal;
}

.upload-image-form {
  padding: 10px;
  margin: 0 auto;
  border: 2px solid #CCC;
}

.upload-image-form > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.upload-image-form li {
  display: flex;
  padding: 5px;
}

.upload-image-form li > input {
  flex-grow: 1;
}

.upload-image-form button {
  margin-right: 10px;
}

label {
  margin-right: 5px;
}

@media screen and (max-width: 800px) {
  .main-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
